NODE_ENV="development"
DATABASE_URL="postgresql://gorkie:gorkie@localhost:5432/gorkie_db"
PORT=3001
CORS_ORIGIN="http://localhost:3000"
HACKCLUB_API_KEY="sk-hc-your-hackclub-api-key"
OPENROUTER_API_KEY="sk-or-your-openrouter-api-key"
# OPENROUTER_BASE_URL=
# GOOGLE_GENERATIVE_AI_API_KEY=
# REDIS_URL="redis://localhost:6379"
LOG_DIRECTORY="logs"
LOG_LEVEL="info"
